
{{!-- ABOUT SECTION STARTS  --}}
   <div class="conatiner-fluid mt-5 about-style" id="aboutid">
       <div class="row">
           <div class="col-md-10 hero-text col-12 mx-auto">
               <h1 class="text-center main-heading">About Us</h1>
               <p class="text-center side-heading">Know more about me</p>
             <div class="row">
                 {{!-- LEFT SIDE --}}
               <div class="col-md-6 col-12 hero-text">
                     <figure>
                         <img src="images/about.svg" alt="about-section-img">
                     </figure>
                 </div>
                 {{!-- RIGHT SIDE --}}
                       <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                     <h1>I'M THE MERN STACK DEVELOPER</h1>
                     <p>Welcome to Web Dev World.<span class="bold-style"> im Adithya shetty</span> interested in developing websites for people, clients. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quo dolores reprehenderit itaque, nihil recusandae!</p>
                     <button class="btn-style btn-primary">Know More</button>

                 </div>
             
             </div>
           </div>
       </div>
   </div>

   